*{
	padding: 0px;
	margin: 0px;
}



/*导航栏*/
.header {
    overflow: hidden;
    padding: .3rem 0;
    background-color: #F1F1F1;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    margin-bottom: 1px;
}
div.logo {
    float: left;
}
ul.nav-item {
    float: right;
    margin: auto;
    padding-right: 20px;
}
.nav-item li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    margin-top: 18px;
}
.nav-item li a {
    text-decoration: none;
    color: #00b4e4;
    font-size: 19px;
}
.nav-item li:hover{
	background-color: #ccccff;
}
.nav-item li:hover a{
	color: white;
}
.logo-img {
	position: relative;
	top: 10px;
	margin-left: 50px;
    width: 180px;
}
.logo-title{
    font-size: 35px;
    line-height: 60px;
    display: inline-block;
    margin-left: 40px;
    letter-spacing:5px;
    color: #003366;
    font-weight: bold;
}



/*主体部分*/

.Content_title{
	height: 80px;
}
.p1{
	display: inline-block;
	position: relative;
	left: -100px;
	top: 30px;
	font-family: "楷体";
	font-size: 25px;
	color: #00b4e4;
}
.write{
	display: inline-block;
	position: relative;
	left: 200px;
	top:30px;
	height: 40px;
	width: 200px;
	background: #00b4e4;
	border-radius: 10px 10px;
	cursor: pointer;
}
.write img{
	height: 23px;
	width:23px;
	padding-left: 10px;
}
.write p{
	display: inline-block;
	line-height: 40px;
	font-family: "楷体";
	font-size: 25px;
	color: white;
}
hr{
	width: 55%;
}
.leftside_a{
	float: left;
	height: 250px;
	width:300px; 
}
.rightside_a{
	float: right;
	height: 250px;
	width:600px; 
}
.leftside_a img{
	height: 180px;
	width: 250px;
	position: relative;
	top: 30px;
	left: 20px;
}
.content_a{
	height: 180px;
}
.rightside_a h3{
	position: relative;
	top: 30px;
	left: -50px;
	font-family: "楷体";
	font-size: 23px;
}
.rightside_a p{
	display: inline-block;
	width: 500px;
	position: relative;
	top: 50px;
	left: -40px;
	text-align:left;
	line-height: 23px;
	font-family: "楷体";
	font-size: 17px;
}
.content__b{
	position: relative;
	top: -20px;
	height: 85px;
}
.view_check{
	height:38px;
	width: 80px;
	border: 1px solid #00b4e4;
	color: #00b4e4;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	position: relative;
	left: 120px;
	top: 20px;
}
.view_check:hover{
	background: #00b4e4;
	color: #fff;
}
.main_a{
	clear: both;
	height: 250px;
	width: 900px;
}
.main_a:hover{
	background: #f8f8f8;
}
.main_b{
	clear: both;
	height: 250px;
	width: 900px;
}
.main_b:hover{
	background: #f8f8f8;
}
.main_c{
	clear: both;
	height: 250px;
	width: 900px;
}
.main_c:hover{
	background: #f8f8f8;
}
.main_d{
	clear: both;
	height: 250px;
	width: 900px;
}
.main_d:hover{
	background: #f8f8f8;
}
.main_e{
	clear: both;
	height: 250px;
	width: 900px;
	display: none;
}
.main_e:hover{
	background: #f8f8f8;
}
.main_f{
	clear: both;
	height: 250px;
	width: 900px;
	display: none;
}
.main_f:hover{
	background: #f8f8f8;
}
.main_g{
	clear: both;
	height: 250px;
	width: 900px;
	display: none;
}
.main_g:hover{
	background: #f8f8f8;
}
.main_h{
	clear: both;
	height: 250px;
	width: 900px;
	display: none;
}
.main_h:hover{
	background: #f8f8f8;
}
.main_i{
	clear: both;
	height: 250px;
	width: 900px;
	display: none;
}
.main_i:hover{
	background: #f8f8f8;
}
.main_j{
	clear: both;
	height: 250px;
	width: 900px;
	display: none;
}
.main_j:hover{
	background: #f8f8f8;
}
.footer{
	clear: both;
	height: 100px;
}
.footer span{
	color: #666;
}
.input{
	height: 35px;
	width: 35px;
	margin:20px 3px;
	cursor: pointer;
	border: 0px;
}
.input:hover{
	background: #00b4e4;
	color: white;
}
.input_a{
	height: 30px;
	width: 30px;
	background: #00b4e4;
	border:0px;
	color: white;
	cursor: pointer;
}
.shang{
	height: 30px;
	width: 100px;
	background: #00b4e4;
	color: white;
	line-height: 30px;
	outline: none;
	border: 0px;
	cursor: pointer;
}
.xia{
	display: inline-block;
	height: 30px;
	width: 100px;
	background: #00b4e4;
	color: white;
	line-height: 30px;
	outline: none;
	border: 0px;
	cursor: pointer;
}
#foot{
	height: 250px;
	clear: both;
	width:100%;
	background: #eef5fb;
}
.leftside{
	float: left;;
	width: 700px;
	height: 100%;
	position: relative;
	left: 100px;
}
.leftside h3{
	padding-top: 40px;
	position: relative;
	left: -100px;
	font-family: "Coronet";
	font-size: 25px;
}
.leftside p{
	text-align:left;
	position: relative;
	left: 220px;
	line-height: 30px;
	font-size: 13px;
}
.middleside{
	float: left;
	width: 300px;
	height: 100%;
}
.middleside p{
   text-align: left;
   position: relative;
   top: 60px;
   line-height: 30px;
   font-size: 13px;
   cursor: pointer;
}
.rightside{
	float: left;
	width: 300px;
	height: 100%;
}
.rightside img{
	height: 50px;
	width: 90px;
	position: relative;
	top: 100px;
}
.article_a{
	height: 1080px;
	width:900px;
}
.article_b{
	width:900px; 
	height:1080px;
	display: none;
}
.jia{
	clear: both;
	height: 40px;
	width: 500px;
	background: #00b4e4;
	margin: 20px;
	border-radius: 5px;
	cursor:pointer;
}
.jia p{
	line-height: 40px;
	color: white;
	font-family: "楷体";
	font-size: 20px;
}
.jia:hover{
	background: white;
	border: 1px solid #00b4e4;
}
.jia p:hover{
	color: #00b4e4;
}
.jia_a{
	clear: both;
	height: 40px;
	width: 500px;
	background: #00b4e4;
	margin: 20px;
	border-radius: 5px;
	cursor:pointer;
}
.jia_a p{
	line-height: 40px;
	color: white;
	font-family: "楷体";
	font-size: 20px;
}
.jia_a:hover{
	background: white;
	border: 1px solid #00b4e4;
}
.jia_a p:hover{
	color: #00b4e4;
}







